@use './../mixins' as *;

/* Главный заголовок страницы */
.h1, h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 6rem;
  line-height: 120%;

  @include md {
    font-size: 3rem;
  }
}

/* Заголовок блока */
.h2,
h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;

  @include md {
    font-size: 2.5rem;
  }
}

/* Подзаголовок блока */
.h3,
h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 120%;

  @include md {
    font-size: 2rem;
  }
}

.h4,
h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;

  @include md {
    font-size: 1.6rem;
  }
}

.h5,
h5 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;

  @include md {
    font-size: 1.4rem;
  }
}

.h6,
h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;

  @include md {
    font-size: 1.2rem;
  }
}

/* Текст */
p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;

  @include md {
    font-size: 1.2rem;
  }
}