@use './../mixins' as *;

.typewriter {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;

  &__cursor {
    transition: 0s !important;
  }
}

.typewriter-once-cursor {
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.3rem;
}