@use './../mixins' as *;

.burger {

  &-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 7rem;
    height: 7rem;
    background-color: var(--black);
    flex-shrink: 0;

    position: relative;


    @include md {
      // width: 5rem;
      // height: 5rem;
    }

    &.burger--open {
      gap: 0;
    }

    * {
      transition: all 0.3s ease;
    }

    &__line {
      width: 2rem;
      height: 0.3rem;
      background-color: var(--white);

      position: absolute;
      top: 50%;

      &--first {
        transform: translateY(calc(-50% - 0.5rem));

        .burger--open & {
          transform: rotate(45deg);
        }
      }

      &--second {
        transform: translateY(calc(-50% + 0.5rem));

        .burger--open & {
          transform: rotate(-45deg);
        }
      }
    }
  }
}