@use './../mixins' as *;

.approach {
  --section-padding-bottom: 10rem;

  overflow-x: visible;

  @include sm {
    --section-padding-bottom: 2rem;

    overflow: hidden;
  }

  .general {

    &__title {

      .general__suptitle {
        display: block;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    @include sm {
      gap: 31rem;
    }
  }

  &__head {

    .general {

      &__head {}

      &__text {
        margin-left: 54rem;

        @include sm {
          margin-left: 0;
        }
      }
    }
  }

  &__body {

    .general {

      &__title {
        font-size: 6.5rem;
        color: var(--red);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 54rem;

    @include sm {
      margin-left: 0;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    // border-radius: 50%;
    // background-color: var(--black);
    // padding: 0 15.5rem 0 7.5rem;
    padding: 0 calc(15.5rem + 26.5rem) 0 7.5rem;
    // width: calc(112.5rem - 25.75rem);
    width: 112.5rem;
    height: 111.1rem;
    // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODY5IiBoZWlnaHQ9IjExMTciIHZpZXdCb3g9IjAgMCA4NjkgMTExNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xMDcuMzA0IDIyNC4wN0MyODkuNDM3IC0yMi45MDcyIDY0MC4wNCAtNzMuNDUzMyA4OTAuMzk4IDExMS4xNzJDMTE0MC43NiAyOTUuNzk4IDExOTYuMDYgNjQ1LjY4MiAxMDEzLjkzIDg5Mi42NTlDODMxLjggMTEzOS42NCA0ODEuMTk3IDExOTAuMTggMjMwLjgzOCAxMDA1LjU2Qy0xOS41MjAzIDgyMC45MzIgLTc0LjgyODQgNDcxLjA0OCAxMDcuMzA0IDIyNC4wN1oiIGZpbGw9IiMxNzE3MUEiLz4NCjwvc3ZnPg0K);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEyMiIgaGVpZ2h0PSIxMTE3IiB2aWV3Qm94PSIwIDAgMTEyMiAxMTE3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHBhdGggZD0iTTEwNy4zMDQgMjI0LjA3QzI4OS40MzcgLTIyLjkwNzYgNjQwLjA0IC03My40NTM3IDg5MC4zOTggMTExLjE3MkMxMTQwLjc2IDI5NS43OTggMTE5Ni4wNyA2NDUuNjgyIDEwMTMuOTMgODkyLjY1OUM4MzEuOCAxMTM5LjY0IDQ4MS4xOTcgMTE5MC4xOCAyMzAuODM4IDEwMDUuNTZDLTE5LjUyMDMgODIwLjkzMSAtNzQuODI4NCA0NzEuMDQ4IDEwNy4zMDQgMjI0LjA3WiIgZmlsbD0iIzE3MTcxQSIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-size: contain;

    color: var(--white);
    text-align: right;

    position: absolute;
    top: -25rem;
    right: -26.5rem;
    // right: 0;
    z-index: -1;

    @include sm {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAzIiBoZWlnaHQ9IjQ3MyIgdmlld0JveD0iMCAwIDUwMyA0NzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMTIxLjU3MyA3NS4yMTc0QzI0MC4zODQgLTIwLjMwMTcgMzk0LjczNSAtMjUuNTQ3MiA0NjYuMzI3IDYzLjUwMTNDNTM3LjkxOCAxNTIuNTUgNDk5LjYzOSAzMDIuMTcyIDM4MC44MjggMzk3LjY5MUMyNjIuMDE3IDQ5My4yMSAxMDcuNjY1IDQ5OC40NTUgMzYuMDczNyA0MDkuNDA3Qy0zNS41MTc2IDMyMC4zNTggMi43NjE2IDE3MC43MzcgMTIxLjU3MyA3NS4yMTc0WiIgZmlsbD0iIzE3MTcxQSIvPg0KPC9zdmc+DQo=);
      width: 50.4rem;
      height: 47.4rem;
      padding: 8.4rem 15.6rem 15.4rem 5rem;

      top: 28rem;
      right: calc((12.6rem + (var(--container-padding))) * -1);
    }

    .general__head {
      position: relative;
      z-index: 2;
    }

    .general__suptitle {
      font-weight: 400;
      color: var(--white);
    }

    // &-round {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   background-color: var(--black);
    //   border-radius: 50%;
    //   overflow: hidden;

    //   position: absolute;
    //   inset: 0;
    //   z-index: 1;
    // }
  }

  &__cover {
    height: 90.6rem;

    position: absolute;
    top: 25.2rem;
    left: 0;
    z-index: 1;

    @include sm {
      height: 32rem;

      transform: scale(-1, 1) !important;

      top: 0.5rem;
      right: -3.6rem;
      left: unset;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__satellite {

    &-wrap {
      width: 100%;
      height: 100%;
      overflow: hidden;

      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;

      @include sm {
        display: none;
      }
    }

    &-item {
      width: auto;
      height: 35rem;
      overflow: visible;
      pointer-events: none;

      transform: rotate(-16.65deg);
      will-change: transform;

      position: absolute;
      bottom: calc(50% - 26.2rem);
      left: 50%;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}