@use './../mixins' as *;

.cases {
  overflow: visible;

  .general {

    &__head {
      gap: 0;
      width: fit-content;
      margin-bottom: 5rem;

      @include sm {
        gap: 1rem;
        margin-bottom: 3rem;
      }
    }

    &__title {

      @include sm {
        font-size: 10rem;
      }
    }

    &__suptitle {
      margin-left: 40rem;

      @include sm {
        margin-left: 0;

        text-align: right;
      }
    }
  }

  &__inner {
    padding-left: 54rem;

    @include sm {
      padding-left: 0;
    }
  }

  &__cover {
    height: 104.7rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    @include sm {
      display: none;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__body {
    max-width: 99rem;
    margin: 0 0 0 8rem;

    position: relative;

    @include sm {
      margin: 0;
    }
  }

  &__slider {
    overflow: hidden;

    @include sm {
      overflow: visible;
    }
  }

  &__slide {

    &-wrap {
      width: 100%;
      height: 54rem;

      position: relative;
    }

    &-bg {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding: 9rem 8.5rem 9rem 43.4rem;
      height: 100%;

      color: var(--white);

      position: relative;
      z-index: 2;

      @include sm {
        padding: 2rem;
      }
    }

    &-title {
      margin-bottom: 3rem;

      font-weight: 800;
      text-transform: uppercase;

      @include sm {
        margin-bottom: 2rem;
      }
    }

    &-text {
      margin-bottom: 4.4rem;

      font-weight: 400;
      font-size: 3rem;
      line-height: 120%;
      letter-spacing: -0.04em;

      @include sm {
        margin-bottom: 2rem;

        font-size: 1.6rem;
      }
    }

    &-btn {
      max-width: 30.7rem;
      width: 100%;

      font-family: var(--second-family);

      @include sm {
        --btn-height: 5rem;
        
        width: fit-content;

        font-size: 1.6rem;
      }
    }
  }

  .swiper-button-prev {
    left: -15.7rem;

    i {
      transform: scale(-1, 1);
    }

    @include sm {
      display: none;
    }
  }

  .swiper-button-next {
    right: -15.7rem;

    @include sm {
      right: 3rem;
    }
  }
}