@use './../mixins' as *;

.cases {
  --section-padding-top: 5rem;
  --section-padding-bottom: 6.5rem;

  overflow: visible;

  @include sm {
    --section-padding-top: 2rem;
    --section-padding-bottom: 10rem;
  }

  .general {

    &__head {
      gap: 0;
      width: fit-content;
      margin-bottom: 3rem;

      @include sm {
        gap: 1rem;
        margin-bottom: 3rem;
      }
    }

    &__title {

      @include sm {
        font-size: 10rem;
      }
    }

    &__suptitle {
      margin-left: 40rem;

      @include sm {
        margin-left: 0;

        text-align: right;
      }
    }
  }

  &__inner {
    padding-left: 54rem;

    @include sm {
      padding-left: 0;
    }
  }

  &__cover {
    height: 114rem;

    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 2;

    @include sm {
      display: none;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 99rem;
    margin: 0 0 0 8rem;

    position: relative;

    @include sm {
      gap: 2rem;
      margin: 0;
    }

    &::after {
      content: "";
      width: 15rem;
      height: 12.3rem;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwIiBoZWlnaHQ9IjEyNCIgdmlld0JveD0iMCAwIDE1MCAxMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cmVjdCB4PSIxMzUuMzIzIiB3aWR0aD0iMjMuNDAyOCIgaGVpZ2h0PSIxNzAuMTA2IiB0cmFuc2Zvcm09InJvdGF0ZSg1Mi43MDQ2IDEzNS4zMjMgMCkiIGZpbGw9IiNEQzE0M0MiLz4NCjxjaXJjbGUgY3g9IjkwLjM2MTUiIGN5PSI5Mi4wODg4IiByPSIyNi4wMDg1IiB0cmFuc2Zvcm09InJvdGF0ZSgxMi4zMDAxIDkwLjM2MTUgOTIuMDg4OCkiIGZpbGw9IiNEQzE0M0MiLz4NCjwvc3ZnPg0K);
      background-repeat: no-repeat;
      background-size: 100%;

      position: absolute;
      right: -11.8rem;
      bottom: 8.2rem;
      z-index: 2;

      @include sm {
        width: 11.2rem;
        height: 6.4rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEzIiBoZWlnaHQ9IjY1IiB2aWV3Qm94PSIwIDAgMTEzIDY1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHJlY3QgeD0iNzEuNzg0MiIgd2lkdGg9IjEyLjQxNDUiIGhlaWdodD0iOTAuMjM1NiIgdHJhbnNmb3JtPSJyb3RhdGUoNTIuNzA0NiA3MS43ODQyIDApIiBmaWxsPSIjREMxNDNDIi8+DQo8Y2lyY2xlIGN4PSI5NS42Njg4IiBjeT0iMzIuOTM2NyIgcj0iMTMuNzk2NyIgdHJhbnNmb3JtPSJyb3RhdGUoMTIuMzAwMSA5NS42Njg4IDMyLjkzNjcpIiBmaWxsPSIjREMxNDNDIi8+DQo8L3N2Zz4NCg==);
      
        right: 0;
        bottom: 2.5rem;
      }
    }

    .btn {
      --btn-height: 7rem;
      --btn-padding-x: 6rem;

      font-family: var(--second-family);
      font-size: 2rem;

      @include sm {
        --btn-height: 5rem;
        --btn-padding-x: 2.5rem;

        font-size: 1.6rem;
      }
    }
  }

  &__slider {
    overflow: hidden;

    @include sm {
      overflow: visible;
    }
  }

  &__slide {
    height: 100%;

    &-wrap {
      width: 100%;
      height: auto;
      min-height: 54rem;

      position: relative;
    }

    &-bg {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding: 9rem 4rem 9rem 43rem;
      width: 100%;
      height: 100%;

      color: var(--white);

      position: relative;
      z-index: 2;

      @include sm {
        padding: 2rem;
      }
    }

    &-title {
      margin-bottom: 3rem;

      font-weight: 800;
      text-transform: uppercase;

      @include sm {
        margin-bottom: 2rem;
      }
    }

    &-text {
      margin-bottom: 3rem;

      font-weight: 400;
      font-size: 3rem;
      line-height: 120%;
      letter-spacing: -0.04em;

      @include sm {
        max-width: 23.6rem;
        margin-bottom: 2rem;

        font-size: 1.6rem;
      }
    }

    &-link {
      font-weight: 400;
      font-size: 2rem;
      line-height: 120%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: var(--red);
    }
  }

  .swiper-button-prev {
    left: -15.7rem;

    i {
      transform: scale(-1, 1);
    }

    @include sm {
      display: none;
    }
  }

  .swiper-button-next {
    right: -15.7rem;

    @include sm {
      margin: 0;
      transform: unset;

      position: absolute;
      top: 14.5rem;
      right: 2rem;
      left: unset;
      bottom: unset;
    }
  }

  &__btn {

    @include sm {
      display: none;
    }
  }
}