@use './../mixins' as *;

.contacts {
  --section-padding-top: 2rem;
  --section-padding-bottom: 2rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: calc(100% - var(--callback-mini-width) + var(--container-padding));

    position: relative;

    @include sm {
      gap: 3rem;
      width: 100%;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-suptitle {
      font-weight: 900;
      font-size: 3rem;
      line-height: 100%;
      text-transform: uppercase;
      color: var(--red);

      @include sm {
        font-size: 1.6rem;
      }
    }

    &-title {
      font-weight: 900;
      font-size: 6rem;
      line-height: 100%;
      text-decoration: underline;
      text-transform: uppercase;

      @include sm {
        font-size: 3rem;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include sm {
      margin-bottom: calc(35rem - var(--section-padding-bottom));
    }

    .footer {

      &__contacts {
        gap: 2rem;

        @include sm {
          gap: 1rem;
        }

        &-wrap {

          span {
            color: var(--red);
          }

          a {
            color: var(--red);

            &:hover {
              color: var(--black);
            }
          }
        }
      }

      &__menu {

        &-link {
          font-weight: 900;
          font-size: 3rem;
          text-decoration: none;
          color: var(--red);

          @include sm {
            font-size: 1.6rem;
          }
        }
      }
    }

    .social {
      gap: 1.5rem;

      @include sm {
        max-width: 24.2rem;
      }

      &__title {
        font-weight: 900;
        font-size: 3rem;
        text-decoration: none;
        color: var(--red);

        @include sm {
          font-size: 1.6rem;
        }
      }

      &__links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 24.5rem;
      }

      &__link {

        i {
          --font-size: 4rem;

          border-color: var(--black);
        }
      }

      &__text {

        @include sm {
          display: none;
        }
      }
    }
  }

  &__cover {
    width: auto;
    height: 56.3rem;
    height: calc(100vw/(1920/563));
    pointer-events: none;

    position: absolute;
    right: 0;
    bottom: calc(var(--section-padding-bottom) * -1);
    bottom: calc(-100vw/(1920/20));

    @include sm {
      height: 51.5rem;

      right: -40.3rem;
      bottom: calc(var(--section-padding-bottom) * -1);
    }

    img {
      max-width: unset;
    }
  }
}