@use './../mixins' as *;

.growth {
  overflow: visible;
  background-color: transparent;

  @include sm {}

  .general {

    &__head {
      gap: 0;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 187.4rem;
        height: 41.5rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg3MiIgaGVpZ2h0PSI0MTYiIHZpZXdCb3g9IjAgMCAxODcyIDQxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xMS44ODgyIDBMMTg3MS4zNSA0MDIuNzkzTDE4NTkuNDYgNDA5LjQ3Nkw3LjkyNjE5ZS0wNSA0MTUuNjgzTDExLjg4ODIgMFoiIGZpbGw9IiNEQzE0M0MiLz4NCjwvc3ZnPg0K);
        background-repeat: no-repeat;
        background-size: 100%;

        pointer-events: none;

        position: absolute;
        // top: -14.5rem;
        left: -30rem;
        bottom: 0.8rem;
        z-index: 0;

        @include sm {
          width: calc(100% + (var(--container-padding) * 2));
          height: calc(100% + 2rem);
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAyIiBoZWlnaHQ9IjE3NiIgdmlld0JveD0iMCAwIDQwMiAxNzYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMi4yODI2ZS0wNSAwTDc5NS41MTggMTcxLjIyOUw3OTAuNDY0IDE3NC4wN0wtNi43MjA4M2UtMDcgMTc1LjEzM0wyLjI4MjZlLTA1IDBaIiBmaWxsPSIjREMxNDNDIi8+DQo8L3N2Zz4=);

          top: unset;
          bottom: 0.8rem;
          // left: -7.5rem;
          right: calc(var(--container-padding) * -1);
          left: calc(var(--container-padding) * -1);
        }
      }
    }

    &__suptitle {
      color: var(--white);

      @include sm {
        font-size: 10rem;
        // font-size: calc(100vw/(402/100));
      }
    }

    &__title {

      @include sm {
        font-size: 6.5rem;
        // font-size: calc(100vw/(402/65));
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 7rem;

    @include sm {
      gap: 2.8rem;
    }
  }

  &__body {

    position: relative;

    &::after {
      content: "";
      display: none;
      width: calc(100% + (var(--container-padding) * 2));
      height: 100%;
      background-color: var(--white);

      position: absolute;
      top: -3.6rem;
      left: calc(var(--container-padding) * -1);
      right: calc(var(--container-padding) * -1);
      z-index: 1;

      @include sm {
        display: block;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 6rem 8rem;
    max-width: 116.8rem;

    position: relative;
    z-index: 2;

    @include sm {
      gap: 2rem 4rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include sm {
      gap: 1.5rem;
    }

    &-count {
      font-family: var(--second-family);
      font-weight: 1000;
      font-size: 10rem;
      line-height: 100%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: var(--red);

      @include sm {
        font-size: 6rem;
      }
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 1000;
      font-size: 4rem;
      line-height: 120%;
      text-transform: uppercase;
      word-break: break-word;

      @include sm {
        font-size: 2rem;
      }
    }

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 3rem;
      line-height: 120%;
      letter-spacing: -0.04em;
      text-transform: uppercase;

      @include sm {
        font-size: 1.6rem;
      }
    }
  }

  &__cover {
    width: auto;
    height: 101rem;
    pointer-events: none;

    position: absolute;
    top: -6.1rem;
    right: 4.4rem;

    @include sm {
      width: 26rem;
      height: auto;

      top: -26.3rem;
      right: 12rem;
      z-index: -1;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;

      @include sm {
        width: 100%;
        height: auto;
      }
    }

    &-shadow {
      width: auto;
      height: 100%;
      object-fit: contain;

      position: absolute;
      inset: 0;
      z-index: 0;

      filter:
        drop-shadow(0 0 0 var(--black)) brightness(0) hue-rotate(1deg);
      transform: rotate(-4.84deg);
    }

    &-img {
      width: auto;
      height: 100%;
      object-fit: contain;

      position: relative;
      z-index: 1;
    }
  }
}