@use './../mixins' as *;

.hero {
  padding-top: 8.5rem;
  padding-bottom: 6.5rem;
  padding-bottom: 9.5rem;
  overflow-x: visible;

  @include sm {
    padding: 0;
    overflow: hidden;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  &__content {
    position: relative;
    z-index: 3;
  }

  &__suptitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4rem;
    line-height: 140%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    margin-bottom: 5.7rem;

    @include sm {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    min-height: 54.6rem;

    font-family: var(--second-family);
    font-weight: 1000;
    font-size: 27rem;
    line-height: 27rem;
    text-transform: uppercase;

    @include sm {
      min-height: 14.8rem;

      font-size: 6.5rem;
      line-height: 100%;
    }
  }

  .typewriter {

    @include dosm {
      padding: 0 0 0 0.5rem;
    }

    &__word {
      display: inline-block;
      vertical-align: text-bottom;

      font-size: inherit;
      // line-height: 85%;
      // line-height: 23rem;
      line-height: 32.4rem;
      letter-spacing: -0.05em;
      color: var(--black);

      @include sm {
        line-height: 85%;
      }
    }

    &__line {
      display: flex;
      align-items: center;
      gap: 0.1em;

      font-size: inherit;
      // line-height: 120%;
      line-height: 32.4rem;

      @include sm {
        line-height: 120%;
      }

      &:nth-child(1) {

        @include dosm {
          margin-top: -4.7rem;
        }
      }

      &:nth-child(2) {

        @include dosm {
          margin-top: -9.4rem;
        }

        .typewriter__cursor,
        .typewriter__word {
          color: #DC143C;
        }
      }

      &:last-child {

        @include dosm {
          margin-top: -4.7rem;
        }

        .typewriter__cursor,
        .typewriter__word {
          font-size: 10rem;
          line-height: 8.5rem;

          @include sm {
            font-size: 4rem;
            line-height: 85%;
          }
        }
      }
    }

    &__cursor {
      line-height: 85%;
      will-change: opacity;
    }
  }

  &__cover {
    width: auto;
    height: 77rem;
    height: calc(100vw/(1920/770));

    position: absolute;
    top: -5.9rem;
    top: calc(-100vw/(1920/59));
    right: 12.3rem;
    right: calc(100vw/(1920/123));
    z-index: 2;

    @include sm {
      height: 46.7rem;

      position: relative;
      top: unset;
      right: unset;
    }

    img {
      max-width: unset;
      width: auto;
      height: 100%;
      object-fit: contain;

      @include sm {
        position: absolute;
        top: 0;
        left: 46%;
        transform: translateX(-50%);
      }
    }
  }

  &__mask {
    width: auto;
    height: 73.1rem;
    height: calc(100vw/(1920/731));

    position: absolute;
    top: calc(((var(--header-height)) + 20.2rem) * -1);
    top: calc(-100vw/(1920/372));
    right: 21.9rem;
    right: calc(100vw/(1920/219));
    z-index: 1;

    @include sm {
      // display: none;
      width: 56rem;
      height: 39.5rem;

      top: calc(28.3rem - var(--header-height));
      right: 2.9rem;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}

/* Стилизация конкретных слов через data-word */
[data-word="уровень"] {
  color: #DC143C;
}

[data-word="фраза"] {
  color: #2a9d8f;
}

[data-word="одна"] {
  color: #e9c46a;
}