@use './../mixins' as *;

.produce {
  --section-padding-bottom: 10rem;

  margin-right: var(--callback-width);
  overflow: visible;

  position: relative;
  z-index: 2;

  @include sm {
    --section-padding-bottom: rem;

    margin-right: 0;
  }

  .general__head {
    gap: 0.2rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include sm {
      gap: 2rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    gap: 8.4rem;

    @include sm {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__item {
    width: calc((100% / 3) - (16.8rem / 3));
    height: 100%;
    // min-height: 54rem;

    position: relative;

    @include sm {
      width: 100%;
      height: auto;
      min-height: unset;
    }

    &:hover {

      @include dosm {
        grid-template-rows: 1fr auto;

        &::after {
          transform: rotate(2.55deg);
        }

        .object-shadow {
          transform: rotate(-4deg);
        }

        .object-body {
          transform: rotate(4deg);
        }
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--black);
      transition: transform 0.3s linear;

      position: absolute;
      inset: 0;
      z-index: 0;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding: 2.5rem 3rem 3rem 3rem;
      padding: 2.5rem 3rem 8.8rem 3rem;
      height: 100%;

      position: relative;
      z-index: 1;

      @include sm {
        padding: 3rem 2rem;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      color: var(--white);
      overflow: hidden;
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 1000;
      font-size: 5rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--white);

      @include sm {
        font-size: 3rem;
      }
    }

    &-text {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 3rem;
      line-height: 120%;
      text-transform: uppercase;

      @include sm {
        font-size: 1.6rem;
      }
    }

    &-icon {
      width: 2.8rem;
      height: 2.8rem;
      transform: rotate(90deg);

      position: absolute;
      right: 4rem;
      bottom: 4rem;
      z-index: 1;

      @include sm {
        transform: translateY(-50%);

        top: 50%;
        right: 1.1rem;
      }

      i {
        --font-size: 2.8rem;
      }
    }

    &-cover {
      width: 100%;
      height: 27.5rem;

      position: relative;
      display: inline-block;
      overflow: visible;

      @include sm {
        display: none;
      }

      img {
        display: block;
        width: 100%;
        transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
      }

      .object-shadow {
        width: auto;
        height: 100%;
        object-fit: contain;

        position: absolute;
        inset: 0;
        z-index: 0;

        filter: drop-shadow(0 0 0 #DC143C) brightness(0) saturate(100%) invert(14%) sepia(90%) saturate(5000%) hue-rotate(338deg) brightness(0.85);
      }

      .object-body {
        width: auto;
        height: 100%;
        object-fit: contain;

        position: relative;
        z-index: 1;
      }
    }

    &--1 {

      .object-shadow {
        transform: translateX(-0.5rem);
      }

      &:hover {

        .object-shadow {
          transform: translateX(-0.5rem) rotate(-4deg);
        }

        .object-img {
          transform: rotate(4deg);
        }
      }
    }

    &--2 {

      .object-shadow {
        transform: scale(1.05) rotate(4.41deg);
      }

      &:hover {

        .object-shadow {
          transform: scale(1.05) rotate(-4.41deg);
        }

        .object-img {
          transform: rotate(4deg);
        }
      }
    }

    &--3 {

      .object-shadow {
        transform: rotate(4.56deg);
      }

      &:hover {

        .object-shadow {
          transform: rotate(-4.56deg);
        }

        .object-img {
          transform: rotate(4deg);
        }
      }
    }

    &-block {
      display: grid;
      grid-template-rows: 0fr 0fr;
      gap: 0;

      width: 100%;
      height: fit-content;
      padding: 0 3rem;
      background-color: var(--red);
      transition: all 0.3s ease;
      overflow: visible;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      @include sm {
        padding: 0 2rem;
      }

      .produce__item:hover & {

        @include dosm {
          grid-template-rows: 1fr auto;
          gap: 4rem;
          padding: 5rem 3rem 6rem 3rem;
        }
      }

      .produce__item--active & {

        @include sm {
          grid-template-rows: 1fr auto;
          gap: 3rem;
          padding: 4rem 2rem 4.4rem;
        }
      }

      .produce__item-title {
        color: var(--black);

        @include sm {
          font-size: 4rem;
        }
      }

      .produce__item-text {
        color: var(--black);

        @include sm {
          font-size: 3rem;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-left: 3rem;
        overflow: hidden;

        position: relative;

        @include sm {
          gap: 2.5rem;
          padding-left: 0;
        }

        .produce__item:hover & {

          @include dosm {
            overflow: visible;
          }
        }
      }

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        i {
          --font-size: 1.9rem;
        }
      }

      a {
        width: fit-content;

        font-weight: 700;
        font-size: 3rem;
        line-height: 120%;
        letter-spacing: -0.04em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: var(--white);

        @include sm {
          font-size: 2rem;
        }
      }
    }
  }

  &__indicator {
    position: absolute;
    left: -4.3rem;
    width: 3.9rem;
    height: 5.3rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAzOSA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0zOSAyNi41TDAgNTNMNC4zOTEyZS0wNiAwTDM5IDI2LjVaIiBmaWxsPSIjMTcxNzFBIi8+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    transform: scale(0);
    transition:
      top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      margin-top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.2s ease;
    pointer-events: none;

    @include sm {
      display: none;
    }

    &.is-visible {
      transform: scale(1);
    }
  }
}