@use './../mixins' as *;

.callback {
  display: grid;
  grid-template-columns: var(--callback-width) 1fr;
  background-color: var(--red);
  width: 100dvw;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  transition: all 0.5s ease;

  position: fixed;
  top: 0;
  left: calc(100% - var(--callback-width));
  z-index: 600;

  @include sm {
    display: none;
  }

  &.callback-mini {
    display: block;
    background-color: var(--black);
    width: var(--callback-mini-width);
    height: auto;
    min-height: 100vh;
    min-height: 100dvh;

    right: 0;
    left: unset;
    z-index: 1;

    @include sm {
      width: 100%;

      position: static;
    }

    .general {

      &__head {}

      &__suptitle {
        font-size: 6.5rem;
        color: var(--red);
      }

      &__title {
        font-size: 4rem;
        color: var(--white);
      }
    }

    .form {

      &-input {
        color: var(--white);
      }

      &-label {
        color: var(--white);

        &::before {
          height: 0.1rem;
          background-color: var(--red);
        }
      }

      &-btn {
        --btn-color: var(--white);
        --btn-background: var(--red);
        --btn-hover-color: var(--black);
        --btn-hover-background: var(--white);
      }

      &-checkbox--item {
        background-color: var(--white-10);

        &::before {
          background-color: var(--red);
        }
      }
    }

    .callback {

      &__inner {
        gap: 4rem;

        @include sm {
          height: 100%;
          padding: 5rem 1.5rem 31rem;
          overflow: hidden;

          position: relative;
        }
      }
    }

    .request__cover {
      display: none;

      @include sm {
        display: block;
        height: 41rem;
      }
    }
  }

  &:not(.callback.callback-mini) {

    .callback--open & {
      grid-template-columns: 0fr 1fr;

      left: 4.2rem;
    }

    .header-at-footer &,
    .menu--open & {
      left: calc(100% + var(--callback-width));
    }
  }

  * {
    transition: all 0.5s ease;
  }

  .form {
    max-width: 114.6rem;
    z-index: 2;
  }

  .general {

    &__head {
      gap: 0;
      z-index: 2;
    }

    &__suptitle {
      color: var(--black);
    }

    &__title {
      line-height: 100%;
      color: var(--white);
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4.5rem 0;
    transition: all 0.5s ease;
    overflow: hidden;

    &-text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 3rem;
      line-height: 100%;
      text-transform: uppercase;
      color: #FAF4ED;
      white-space: nowrap;
      writing-mode: sideways-lr;
    }
  }

  &__btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--black);

    cursor: pointer;

    position: absolute;
    top: 50%;
    left: -2.4rem;
    z-index: 2;
    transform: translateY(-50%);

    &-line {
      width: 1.15rem;
      height: 0.3rem;
      background-color: var(--white);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .callback--open & {
        width: 2rem;
      }

      &--first {
        transform: translate(-50%, calc(-50% - 0.3rem)) rotate(-45deg);

        .callback--open & {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &--second {
        transform: translate(-50%, calc(-50% + 0.3rem)) rotate(45deg);

        .callback--open & {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 11rem 9rem 8rem 9rem;
    overflow-y: auto;

    // position: relative;
  }

  &__cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 106.7rem;
    width: 92.8rem;
    // height: 115.3rem;
    height: 103.5rem;

    pointer-events: none;

    position: absolute;
    // top: -14.7rem;
    top: 0;
    // right: -8.5rem;
    right: 4.2rem;
    z-index: 1;

    &-img {
      width: auto;
      transition: none;

      position: absolute;

      &--first {
        height: 62.7rem;

        top: -2.8rem;
        right: -1.5rem;
        z-index: 2;

        img {
          transform: rotate(16.41deg);
        }
      }

      &--second {
        height: 45rem;

        right: 12.4rem;
        bottom: 25rem;
        z-index: 1;

        img {
          transform: rotate(70.79deg);
        }
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}