@use './../mixins' as *;

.header {
  --header-inner-height: 7rem;

  width: 100%;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  will-change: transform;
  padding-top: env(safe-area-inset-top);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;

  @include sm {
    --header-inner-height: 5rem;
  }

  &.header-out {
    pointer-events: none;
  }

  &.html.header-fixed {}

  /* хедер зафиксировался */
  &.html.header-off-top {}

  /* прошли первую секцию */
  &.html.header-at-footer {}

  .nav {

    @include sm {
      display: none;
    }

    .menu--open & {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 5rem 0;

    @include sm {
      gap: 3rem;
      padding: 2rem 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include sm {
      display: none;
    }

    .menu--open & {
      justify-content: flex-end;
    }
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;

    @include sm {
      // gap: 2rem;
      justify-content: space-between;
      width: 100%;
    }

    .line-col {

      @include sm {
        display: none;
      }
    }

    .btn--accent {
      font-weight: 700;
      font-size: 2rem;

      @include sm {
        display: none;
      }

      .object-body {
        transition: all 0.3s ease;

        .menu--open & {
          background-color: var(--white);
          color: var(--black);
        }
      }
    }
  }

  &__phone {
    font-family: var(--second-family);
    font-weight: 1000;
    font-size: 6rem;
    line-height: 100%;
    color: var(--white);

    transform: translateX(150%);
    transition: transform 0.2s linear;

    @include sm {
      display: none;
    }

    .menu--open & {
      transform: translateX(0%);
    }
  }
}

.invert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 502;
  pointer-events: none;

  backdrop-filter: invert(1);
  -webkit-backdrop-filter: invert(1);
}