@use './../mixins' as *;

.header {
  --header-inner-height: 7rem;

  width: 100%;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  will-change: transform;
  padding-top: env(safe-area-inset-top);
  transition: background-color 0.5s ease;
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;

  @include sm {
    --header-inner-height: 5rem;

    max-height: 9rem;
  }

  &.header-out {
    pointer-events: none;
  }

  html.header-hidden & {}

  /* хедер зафиксировался */
  html.header-off-top & {
    background-color: var(--red);
    max-height: 11rem;

    @include sm {
      max-height: 9rem;
    }
  }

  /* прошли первую секцию */
  html.header-at-footer & {}

  .nav {

    @include sm {
      display: none;
    }

    .menu--open & {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 5rem 0;
    transition: padding 0.5s ease;
    pointer-events: all;

    position: relative;
    z-index: 2;

    @include sm {
      gap: 3rem;
      padding: 2rem 0;
    }

    html.header-off-top & {
      padding: 2rem 0;
    }

    .menu--open & {

      @include sm {
        flex-direction: column;
        gap: 3rem;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include sm {
      display: none;
    }

    .menu--open & {
      justify-content: flex-end;
    }
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;

    @include sm {
      display: grid;
      grid-template-columns: 5rem auto 5rem;
      gap: 1rem;
      width: 100%;
    }

    .line-col {

      @include sm {
        display: none;
      }

      html.header-off-top & {
        background-color: var(--white);
      }
    }

    .btn--accent {
      font-weight: 700;
      font-size: 2rem;

      @include sm {
        --btn-height: 5rem;
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        font-size: 1.6rem;
        line-height: 100%;
      }

      .menu--open & {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .object-shadow {

        @include sm {
          display: none;
        }
      }

      .object-body {
        transition: all 0.3s ease;

        @include sm {
          width: 100%;
        }

        html.header-off-top &,
        .menu--open & {
          background-color: var(--white);
          color: var(--black);
        }
      }
    }
  }

  &__phone {
    font-family: var(--second-family);
    font-weight: 1000;
    font-size: 6rem;
    line-height: 100%;
    color: var(--white);

    transform: translateX(150%);
    transition: transform 0.3s linear;

    &:hover {
      color: var(--black);
    }

    html.header-off-top &,
    .menu--open & {
      transform: translateX(0%);

      @include sm {
        font-size: calc(100vw/(402/40));
      }
    }
  }
}

.invert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 502;
  pointer-events: none;

  backdrop-filter: invert(1);
  -webkit-backdrop-filter: invert(1);
}