@use './../mixins' as *;

.logo {
  display: flex;
  width: fit-content;
  height: var(--header-inner-height);
  flex-shrink: 0;
  pointer-events: all;

  @include sm {
    grid-column: 1/2;
  }

  .tender--open &,
  .callback--open & {

    @include sm {
      opacity: 0;
      pointer-events: none;
    }
  }

  svg,
  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
  }

  path {
    transition: fill 0.3s ease;
  }

  .header-fixed &,
  .header-theme-dark &,
  .menu--open & {

    svg {

      path {
        fill: var(--white);
      }

      #point {
        fill: var(--black);
      }
    }
  }


  // .tender--open & {

  //   svg {

  //     path {
  //       fill: var(--white);
  //     }

  //     #point {
  //       fill: var(--red);
  //     }
  //   }
  // }

  .header-theme-dark & {}
}