@use './../mixins' as *;

.menu {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--red);
  transition: all 0.5s ease;
  transform: translateY(-100%);
  padding-top: var(--header-height);
  overflow: hidden;

  position: fixed;
  top: 0;
  z-index: 400;

  .menu--open & {
    transform: translateY(0);
  }

  &--open {

    body {
      overflow: hidden !important;
      overscroll-behavior-y: none;
      max-height: 100vh;
      max-height: 100dvh;
    }
  }

  .container {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &.list-dropdown-active {

    .hero__cover {

      @include dosm {
        transform: translateY(100%);
        opacity: 0;
      }
    }
  }

  &__inner {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 8rem;
    height: fit-content;
    min-height: 100%;
    padding: 3.5rem 0;
    overflow: hidden;

    position: relative;

    @include sm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 2.5rem 0 0;
    }
  }

  &__phone {
    display: none;

    font-family: var(--second-family);
    font-weight: 900;
    font-size: calc(100vw/(402/40));
    line-height: 100%;
    color: var(--white);

    @include sm {
      display: block;
    }
  }

  &__left {
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    // overflow: hidden;
    height: 100%;

    position: relative;
    z-index: 2;

    @include sm {
      gap: 3rem;
    }
  }

  &__right {
    grid-column: 2/5;

    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    @include sm {
      height: 100%;

      position: static;
    }

    &::after {
      content: "";
      display: block;
      width: 52.2rem;
      height: 46.8rem;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIyIiBoZWlnaHQ9IjQ2OCIgdmlld0JveD0iMCAwIDUyMiA0NjgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNDM2Ljk3IDYuOTA5NjlMMjkxLjEyOCAxOTkuMjk5TDUxNy40MTUgOTYuOTA4MUw0MzYuOTcgNi45MDk2OVoiIGZpbGw9IiMxNzE3MUEiLz4NCjxlbGxpcHNlIGN4PSIxODMuNDIzIiBjeT0iMjkyLjI2IiByeD0iMTgzLjQyMyIgcnk9IjE3NS43NCIgdHJhbnNmb3JtPSJyb3RhdGUoLTE4MCAxODMuNDIzIDI5Mi4yNikiIGZpbGw9IiNGQUY0RUQiLz4NCjxwYXRoIGQ9Ik0zMTUuMDA0IDE2OS40MkwyOTMuMDEzIDE5OC40MjlMMzI3LjEzNCAxODIuOTlMMzE1LjAwNCAxNjkuNDJaIiBmaWxsPSIjREMxNDNDIi8+DQo8L3N2Zz4NCg==);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;

      position: absolute;
      bottom: -16.2rem;
      left: 64rem;
      z-index: 1;

      @include sm {
        width: 35rem;
        height: 22.3rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUwIiBoZWlnaHQ9IjIyMyIgdmlld0JveD0iMCAwIDM1MCAyMjMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMjkwLjAyNCA0Ljg4NjVMMTg2Ljg4NSAxNDAuOTQ0TDM0Ni45MTUgNjguNTMzM0wyOTAuMDI0IDQuODg2NVoiIGZpbGw9IiMxNzE3MUEiLz4NCjxlbGxpcHNlIGN4PSIxMTAuNzE2IiBjeT0iMjA2LjY4NiIgcng9IjEyOS43MTYiIHJ5PSIxMjQuMjgzIiB0cmFuc2Zvcm09InJvdGF0ZSgtMTgwIDExMC43MTYgMjA2LjY4NikiIGZpbGw9IiNGQUY0RUQiLz4NCjxwYXRoIGQ9Ik0yMDMuNzcgMTE5LjgxM0wxODguMjE4IDE0MC4zMjlMMjEyLjM0OCAxMjkuNDFMMjAzLjc3IDExOS44MTNaIiBmaWxsPSIjREMxNDNDIi8+DQo8L3N2Zz4NCg==);

        margin-top: -2.5rem;
        margin-left: calc(var(--container-padding) * -1);

        position: static;
      }
    }

    // &::after {
    //   content: "";
    //   display: block;
    //   width: 52.2rem;
    //   height: 30.6rem;
    //   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIyIiBoZWlnaHQ9IjMwNiIgdmlld0JveD0iMCAwIDUyMiAzMDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNDM2Ljk3IDYuOTA5NjlMMjkxLjEyOCAxOTkuMjk5TDUxNy40MTUgOTYuOTA4MUw0MzYuOTcgNi45MDk2OVoiIGZpbGw9IiMxNzE3MUEiLz4NCjxlbGxpcHNlIGN4PSIxODMuNDIzIiBjeT0iMjkyLjI2IiByeD0iMTgzLjQyMyIgcnk9IjE3NS43NCIgdHJhbnNmb3JtPSJyb3RhdGUoLTE4MCAxODMuNDIzIDI5Mi4yNikiIGZpbGw9IiNGQUY0RUQiLz4NCjxwYXRoIGQ9Ik0zMTUuMDA0IDE2OS40MkwyOTMuMDEzIDE5OC40MjlMMzI3LjEzNCAxODIuOTlMMzE1LjAwNCAxNjkuNDJaIiBmaWxsPSIjREMxNDNDIi8+DQo8L3N2Zz4NCg==);
    //   background-repeat: no-repeat;
    //   background-size: 100%;
    //   background-position: center center;

    //   position: absolute;
    //   // bottom: -16.2rem;
    //   bottom: -3.5rem;
    //   left: 64rem;
    //   z-index: 1;

    //   @include sm {
    //     width: 35rem;
    //     height: 22.3rem;
    //     background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUwIiBoZWlnaHQ9IjIyMyIgdmlld0JveD0iMCAwIDM1MCAyMjMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMjkwLjAyNCA0Ljg4NjVMMTg2Ljg4NSAxNDAuOTQ0TDM0Ni45MTUgNjguNTMzM0wyOTAuMDI0IDQuODg2NVoiIGZpbGw9IiMxNzE3MUEiLz4NCjxlbGxpcHNlIGN4PSIxMTAuNzE2IiBjeT0iMjA2LjY4NiIgcng9IjEyOS43MTYiIHJ5PSIxMjQuMjgzIiB0cmFuc2Zvcm09InJvdGF0ZSgtMTgwIDExMC43MTYgMjA2LjY4NikiIGZpbGw9IiNGQUY0RUQiLz4NCjxwYXRoIGQ9Ik0yMDMuNzcgMTE5LjgxM0wxODguMjE4IDE0MC4zMjlMMjEyLjM0OCAxMjkuNDFMMjAzLjc3IDExOS44MTNaIiBmaWxsPSIjREMxNDNDIi8+DQo8L3N2Zz4NCg==);

    //     margin-top: -2.5rem;
    //     margin-left: calc(var(--container-padding) * -1);

    //     position: static;
    //   }
    // }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    opacity: 1;

    position: absolute;
    bottom: 29.4rem;
    left: 54.7rem;

    @include sm {
      display: none;
    }

    .list-dropdown-active &,
    .menu-item-hover & {

      @include dosm {
        transform: translateY(100%);
        opacity: 0;
      }
    }

    &-suptitle {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 3rem;
      line-height: 150%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 900;
      font-size: 20rem;
      line-height: 85%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include dosm {
        padding: 0 0 0 0.5rem;
      }

      span {
        display: block;
        width: fit-content;

        font-size: 10rem;
        line-height: 95%;
        letter-spacing: 0;
        color: var(--white);
      }
    }
  }

  &__nav {

    &-wrap {
      grid-column: 2/5;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.5s ease;

      position: relative;
      z-index: 1;

      @include sm {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.5s ease;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .menu__list-item--dropdown.list--active & {
        grid-template-rows: 1fr;
        padding-bottom: 2rem;
      }

      &::after {
        content: "";
        display: block;
        width: 100vw;
        height: calc(100vh - var(--header-height));

        position: absolute;
        top: -7rem;
        left: -23rem;
        z-index: 1;

        @include sm {
          display: none;
        }
      }
    }

    &-items {
      display: flex;
      flex-direction: row;
      gap: 12rem;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      @include sm {
        flex-direction: column;
        gap: 2rem;
        overflow: hidden;

        position: static;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      transform: translateY(-150%);
      transition: transform 0.3s ease;

      @include sm {
        gap: 0;
        transition: all 0.5s ease;
        overflow: hidden;
        transform: none;
      }

      &:hover {

        @include dosm {

          .menu__nav-head--img {
            transform: rotate(4.5deg);
          }
        }
      }

      &.item--active {
        gap: 2rem;
      }

      &:nth-child(1) {
        transition-delay: 0s;
      }

      &:nth-child(2) {
        transition-delay: 0.1s;

        @include sm {
          transition-delay: 0s;
        }
      }

      &:nth-child(3) {
        transition-delay: 0.2s;

        @include sm {
          transition-delay: 0s;
        }
      }
    }

    &-head {
      position: relative;

      @include sm {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      &--img {
        width: 10.2rem;
        height: 8rem;
        transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

        position: absolute;
        bottom: 0;
        right: calc(100% + 2rem);

        @include sm {
          display: none;
        }

        img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }

      a,
      span {
        transition: all 0.3s ease;

        font-family: var(--second-family);
        font-weight: 900;
        font-size: 3rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--black);

        @include sm {
          font-size: 2rem;
          color: var(--white);
        }

        .item--active & {

          @include sm {
            color: var(--black);
          }
        }
      }

      i {
        --font-size: 1.5rem;

        display: none;

        font-weight: 400;
        color: var(--white);

        @include sm {
          display: block;
        }

        .item--active & {

          @include sm {
            color: var(--black);
          }
        }

        .menu__nav-item.item--active & {

          @include sm {
            transform: rotate(-180deg);
          }
        }
      }
    }

    &-body {

      @include sm {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.5s ease;
        overflow: hidden;
      }

      .menu__nav-item.item--active & {
        grid-template-rows: 1fr;
      }
    }

    &-list {

      @include sm {
        overflow: hidden;
        transition: all 0.5s ease;
      }

      ul {
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        gap: 3rem;

        @include sm {
          gap: 2rem;
        }
      }

      a {
        font-weight: 400;
        font-size: 2rem;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--white);

        @include sm {
          font-family: var(--font-family);
          font-size: 1.4rem;
        }

        &:hover {

          @include dosm {
            color: var(--black);
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: 4rem;

    @include sm {
      // gap: 2rem;
    }

    &-item {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8rem;
      width: 100%;

      @include sm {
        display: flex;
        flex-direction: column;
        gap: 0;
        transition: all 0.5s linear;
      }

      &--dropdown {

        @include dosm {
          pointer-events: none;
        }
      }

      &:first-child {

        .menu__list-link {
          padding-top: 0;
        }
      }

      &:last-child {

        .menu__list-link {

          @include sm {
            padding-bottom: 0;
          }
        }
      }

      .list-dropdown-active &,
      &:hover {

        @include dosm {

          .menu__nav-wrap {
            opacity: 1;
            visibility: visible;
            pointer-events: all;

            .menu__nav-item {

              &:nth-child(1) {
                transform: translateY(0);
              }

              &:nth-child(2) {
                transform: translateY(0);
              }

              &:nth-child(3) {
                transform: translateY(0);
              }
            }
          }
        }
      }
    }

    &-link {
      width: fit-content;
      padding: 2rem 0;
      transition: all 0.3s ease;
      pointer-events: all;

      font-family: var(--second-family);
      font-weight: 900;
      font-size: 3rem;
      line-height: 100%;
      text-transform: uppercase;
      color: var(--white);
      cursor: pointer;

      position: relative;
      z-index: 2;

      @include sm {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 0 0 2rem 0;
        grid-row: 1/2;

        font-size: 2rem;
      }

      &:not(.list--active .menu__list-link) {

        html.menu-list--active & {

          @include sm {
            opacity: 0.5;

          }
        }
      }

      html.menu-nav--active & {

        @include sm {
          opacity: 0.5;

        }
      }

      .menu__list-item--dropdown.list--active & {

        @include sm {
          color: var(--black);
        }
      }

      .menu-item-hover .menu__list-item--dropdown &,
      &:hover {
        padding-left: 4.5rem;

        color: var(--black);

        &::before {
          transform: scale(1);

          left: 0;
        }

        @include sm {
          padding-left: 0;
        }
      }

      .list-dropdown-active .menu__list-item--dropdown & {

        @include dosm {
          padding-left: 4.5rem;

          color: var(--black);

          &::before {
            transform: scale(1);

            left: 0;
          }
        }
      }

      &::before {
        content: "";
        display: block;
        width: 2.1rem;
        height: 3rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iNTMiIHZpZXdCb3g9IjAgMCAzOSA1MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0zOSAyNi41TDAgNTNMNC4zOTEyZS0wNiAwTDM5IDI2LjVaIiBmaWxsPSIjMTcxNzFBIi8+DQo8L3N2Zz4NCg==);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        transform: scale(0);
        transition: all 0.3s ease;
        pointer-events: none;

        position: absolute;
        left: -1.3rem;

        @include sm {
          display: none;
        }
      }

      i {
        --font-size: 1.5rem;

        display: none;

        @include sm {
          display: block;
        }

        .menu__list-item--dropdown.list--active & {

          @include sm {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include sm {
      gap: 3rem;
    }

    .footer__menu-link {
      margin-bottom: 0;
    }

    .footer__download {

      i {

        @include sm {
          --font-size: 1.6rem;
        }
      }

      a {

        @include sm {
          gap: 0.7rem;

          font-size: 1.4rem;
        }
      }
    }
  }

  .social {

    &__title {
      font-size: 2rem;
    }

    &__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 28rem;
    }

    &__link {
      color: var(--white);

      i {
        --font-size: 4rem;
      }
    }
  }

  .hero {

    &__title {
      min-height: 44rem;

      .typewriter {

        &__line {

          &:nth-child(2) {

            .typewriter__cursor,
            .typewriter__word {
              color: var(--black);
            }
          }

          &:last-child {

            .typewriter__cursor,
            .typewriter__word {
              color: var(--white);
            }
          }
        }

        &__word {
          font-size: 20rem;
        }


        &__cursor {
          font-size: 20rem;
        }
      }
    }

    &__cover {
      width: 98.4rem;
      height: 94.1rem;
      // height: calc(100vw/(1920/941));
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform: translateY(0%);
      opacity: 1;

      position: absolute;
      top: unset;
      right: -19rem;
      // right: calc(-100vw/(1920/190));
      bottom: -8rem;
      // bottom: calc(-100vw/(1920/80));

      .menu-item-hover & {
        transform: translateY(100%);
        opacity: 0;
      }

      @include sm {
        display: none;
      }

      &-el {
        width: 14rem;
        // width: calc(100vw/(1920/140));
        height: 14rem;
        // height: calc(100vw/(1920/140));

        top: 17.5rem;
        // top: calc(100vw/(1920/175));
        left: 36rem;
        // left: calc(100vw/(1920/360));
      }
    }
  }

  .nav {

    &__wrap {
      grid-template-columns: 1fr;
      width: 100%;
      height: 100%;

      top: 0;
    }
  }
}