@use './../mixins' as *;

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;

  @include md {
    display: none;
  }

  a {
    font-weight: 800;
    font-size: 2rem;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: underline;

    .menu--open & {
      color: var(--white);
    }

    &:link,
    &:visited {
      text-decoration: underline;
    }

    &:hover {
      color: var(--red);
    }
  }
}