@use './../mixins' as *;

nav {

  @include sm {
    display: none;
  }

  .menu--open & {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  a {
    font-weight: 800;
    font-size: 2rem;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: underline;

    .header-theme-dark &,
    .menu--open & {
      color: var(--white);
    }

    &:link,
    &:visited {
      text-decoration: underline;
    }

    &:hover {
      color: var(--red);

      &+i {
        transform: rotate(90deg) scale(-1, 1);
      }
    }
  }

  i {
    --font-size: 1.3rem !important;

    transform: rotate(-90deg) scale(-1, 1);
  }
}