@use './../mixins' as *;

.template {
  --section-padding-top: 2rem;
  --section-padding-bottom: 2rem;

  position: relative;

  @include sm {
    --section-padding-top: 0.5rem;
    --section-padding-bottom: 1rem;
  }

  h1 {
    font-family: var(--second-family);
    font-weight: 1000;
    font-size: 16rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    @include sm {
      font-size: 4rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}