@use './../mixins' as *;

.template {
  position: relative;

  min-height: 100vh;
  min-height: 100dvh;

  &-2 {
    z-index: 2;
  }

  .general {

    &__text {

      p {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-product {

    &__inner {
      display: grid;
      grid-template-columns: calc(50% - 15rem) 50%;
      grid-template-rows: auto 1fr;
      gap: 5rem 15rem;
      gap: 3rem 15rem;
      padding: 6rem 13rem;
      background-color: var(--white);

      @include sm {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 4rem 8rem;
      }

      @include sm {
        padding: 3rem 2rem 2rem;
      }
    }

    &__head {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      grid-column: 1/2;
      grid-row: 1/2;

      @include sm {
        gap: 2rem;
        order: 1;
        margin-bottom: 3rem;
      }

      @include sm {
        margin-bottom: 2rem;
      }

      &-title {

        @include sm {
          font-size: 3.5rem;
        }

        @include sm {
          font-size: 3rem;
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      gap: 2rem;

      grid-column: 1/2;
      grid-row: 2/3;

      @include sm {
        order: 3;
        gap: 0;
        gap: 2rem;
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include sm {
          margin-bottom: 1.5rem;
          gap: 1.5rem;
        }

        .h5 {

          @include sm {
            font-size: 2.5rem;
          }
        }
      }

      &-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        padding: 3rem;
        border: 0.1rem solid var(--gray-30);
        margin-bottom: 2rem;

        @include sm {
          gap: 1.5rem;
          padding: 2rem;
        }

        span {
          font-weight: 350;
          font-size: 5rem;
          line-height: 100%;
          letter-spacing: unset;
          color: var(--blue);

          @include sm {
            font-size: 3.5rem;
          }

          @include sm {
            font-size: 3rem;
          }
        }

        p {
          color: var(--gray);
        }
      }

      &-items {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 0;
        border-top: 0.1rem solid var(--gray-30);
        border-bottom: 0.1rem solid var(--gray-30);

        @include sm {
          padding: 0;
          border: 0;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include sm {
          gap: 1rem;
        }

        span {
          font-family: var(--second-family);
          font-weight: 300;
          font-size: 3.5rem;
          line-height: 90%;
          color: var(--blue);

          @include sm {
            font-size: 3.5rem;
          }

          @include sm {
            font-size: 2.5rem;
          }
        }
      }

      &-btns {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include sm {
          gap: 1rem;
        }

        .btn {

          @include sm {
            gap: 0.5rem;
          }

          .menu__foot-icon {
            flex-shrink: 0;

            @include sm {
              --menu-icon-width: 2.4rem;
              --menu-icon-height: 2.4rem;
            }

            i {

              @include sm {
                --font-size: 1.6rem;
              }
            }
          }

          .icon-play {
            width: 1.5rem;
            color: var(--blue);
          }

          &:hover {

            @include dosm {
              .icon-play {
                color: var(--white);
              }

              .menu__foot-icon {
                border-color: var(--white);

                @include sm {
                  --menu-icon-width: 2.4rem;
                  --menu-icon-height: 2.4rem;
                }

                &::before {
                  background-color: var(--white);
                }

                &::after {
                  border-color: var(--gray-30);
                }
              }

              .icon-3d {
                color: var(--blue);
              }
            }
          }
        }
      }

      ul {
        margin-bottom: 4rem;

        @include sm {
          margin-bottom: 6rem;
        }

        @include sm {
          margin-bottom: 2rem;
        }

        .sosnovyi-page & {

          @include sm {
            margin-bottom: 0;
          }
        }
      }

      li {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;

        @include sm {
          margin-bottom: 1rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          display: block;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          background-color: var(--blue);
          flex-shrink: 0;
        }
      }

      .btn {
        width: 100%;

        span {
          &::before {
            content: attr(data-text);

            @include xxl {
              content: attr(data-text-mob);
            }
          }
        }
      }
    }

    &__content {
      grid-column: 2/3;
      grid-row: 1/3;

      @include sm {
        order: 2;
      }
    }

    &__slider {
      position: relative;

      &-item {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &--mini {
          height: 100%;
          border: 0.1rem solid transparent;

          .swiper-slide-thumb-active & {
            border-color: var(--blue);
          }
        }
      }

      &-title {
        text-align: center;

        span {
          font-family: var(--second-family);
          font-weight: 300;
          font-size: 3.5rem;
          line-height: 90%;

          @include sm {
            font-size: 2.5rem;
          }
        }
      }

      &-subtitle {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 110%;
        color: var(--white);
        position: absolute;
        bottom: 4.6rem;
        left: 4.4rem;

        @include sm {
          display: none;
        }
      }

      &--big {
        position: relative;

        overflow: hidden;
        margin-bottom: 2rem;

        @include sm {
          margin-bottom: 2rem;
        }

        @include sm {
          margin-bottom: 3rem;
        }

        .swiper-wrapper {
          height: 100%;
          transform: none !important;
          position: relative;

          aspect-ratio: 622/660;
        }

        .swiper-slide {
          transition: clip-path 1.2s ease, transform 0.8s ease 0.8s;
          overflow: hidden;
          transform: scale(1.2);

          position: absolute;
          left: 0;
          top: 0;

          clip-path: inset(0 0 0 100%);
          width: 100%;
          height: 100%;

          &-active {
            z-index: 2;
            clip-path: inset(0 0 0 0);
            transition: clip-path 0.8s ease, transform 0.8s ease;
            transform: scale(1);
          }

          &-prev {
            z-index: 1;
            clip-path: inset(0 100% 0 0);
          }

          &-next {
            z-index: 1;
          }
        }
      }

      &--mini {
        height: 13.7rem;
        overflow: hidden;

        @include sm {
          display: none;
        }
      }

      .swiper-pagination {
        display: none;

        position: absolute;
        bottom: 5rem;

        @include sm {
          display: flex;
        }

        @include sm {
          bottom: 2.5rem;
        }

        &-bullet:not(.swiper-pagination-bullet-active) {
          background: var(--white);
        }
      }

      .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: -2.5rem;
        transform: translateY(-50%);

        @include sm {
          left: calc(var(--swiper-button-size) / 2 * -1);

        }
      }

      .swiper-button-next {
        position: absolute;
        top: 50%;
        right: -2.5rem;
        transform: translateY(-50%);

        @include sm {
          right: calc(var(--swiper-button-size) / 2 * -1);
        }
      }
    }

    &__control {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: fit-content;

      .swiper-pagination-fraction {
        margin: 0;

        font-family: var(--second-family);
        font-style: normal;
        font-weight: 300;
        font-size: 3.5rem;
        line-height: 110%;
        color: var(--blue);
      }

      .swiper-button-prev {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;

        @include sm {
          display: none;
        }
      }

      .swiper-button-next {
        position: relative;
        top: unset;
        right: unset;
        transform: unset;

        @include sm {
          display: none;
        }
      }

      .swiper-pagination {

        &-bullet:not(.swiper-pagination-bullet-active) {
          background-color: var(--gray);
        }

        &--seating {

          @include sm {
            display: flex;
            align-items: center;
            width: fit-content;
          }
        }
      }
    }

    .template-box__inner {
      position: relative;
    }
  }
}

.animated-box {
  display: block;
  width: 100%;
  height: 15rem;
  background-color: var(--bg);

  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

  position: absolute;
  top: calc(var(--section-padding-bottom) * -1);
  left: 0;
  z-index: 1;

  &--bottom {
    background-color: var(--black);
  }
}











.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50rem;
  height: 64rem;
  perspective: 50rem;
  transform-style: preserve-3d;
}

#spin-image {
  width: 50rem;
  height: 64rem;
  object-fit: cover;
  transform-origin: center center;
  outline: none;

  position: absolute;
  top: 0;
  left: 0;
}