@use './../mixins' as *;

.tender {
  display: grid;
  grid-template-rows: 0fr;
  width: 100dvw;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  transition: all 0.5s ease;
  overflow: hidden;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;

  @include sm {
    display: none;
  }

  .tender--open & {
    grid-template-rows: 1fr;
  }

  .header-at-footer &,
  .menu--open & {
    grid-template-rows: 0fr;
  }

  * {
    transition: all 0.5s ease;
  }

  .form {
    max-width: 114.6rem;
    max-width: calc(100vw/(1920/1146));
    z-index: 2;

    &-group {

      &:last-child {
        grid-column: 1/3;
      }
    }

    &-label {

      &::before {
        background-color: var(--white-50);
      }

      &::after {
        background-color: var(--white);
      }
    }


    &-btn {

      &:hover {

        .form-btn__text {
          color: var(--black);
        }
      }

      &::before {
        background-color: var(--red);
      }

      &::after {
        background-color: var(--white);
      }

      &__text {
        color: var(--white);
      }
    }

    &-checkbox--item {
      background-color: var(--white-10);
    }
  }

  .general {

    &__head {
      gap: 0;
      z-index: 2;
    }

    &__suptitle {
      color: var(--white);
    }

    &__title {
      line-height: 100%;
      color: var(--red);
    }
  }

  .typewriter__word::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik03LjYwODQgMEw5LjQwNDUxIDUuNTI3ODZIMTUuMjE2OUwxMC41MTQ2IDguOTQ0MjdMMTIuMzEwNyAxNC40NzIxTDcuNjA4NCAxMS4wNTU3TDIuOTA2MTIgMTQuNDcyMUw0LjcwMjIzIDguOTQ0MjdMLTUuMzg4MjZlLTA1IDUuNTI3ODZINS44MTIyOUw3LjYwODQgMFoiIGZpbGw9IiNGQUY0RUQiLz4NCjwvc3ZnPg0K) !important;
  }

  &__side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4.5rem 0;
    transition: all 0.5s ease;
    overflow: hidden;

    &-text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 3rem;
      line-height: 100%;
      text-transform: uppercase;
      color: #FAF4ED;
      white-space: nowrap;
      transform: rotate(-90deg);
    }
  }

  &__btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--black);
    transition: transform 0.3s ease;

    cursor: pointer;

    position: absolute;
    top: 50%;
    left: -2.4rem;
    z-index: 2;
    transform: translateY(-50%);

    &:hover {
      transform: translateY(-50%) scale(1.2);
    }

    &-line {
      width: 1.15rem;
      height: 0.3rem;
      background-color: var(--white);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .tender--open & {
        width: 2rem;
      }

      &--first {
        transform: translate(-50%, calc(-50% - 0.3rem)) rotate(-45deg);

        .tender--open & {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &--second {
        transform: translate(-50%, calc(-50% + 0.3rem)) rotate(45deg);

        .tender--open & {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 9rem 0 9rem;
    overflow: hidden;
    background-color: var(--black);
    pointer-events: all;

    .tender--open & {
      padding: 15rem 9rem 8rem 9rem;
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 92.8rem;
    width: calc(100vw/(1920/928));
    height: 103.5rem;
    height: calc(100vw/(1920/1035));

    pointer-events: none;

    position: absolute;
    top: 0;
    right: 4.2rem;
    right: calc(100vw/(1920/42));
    z-index: 1;

    &-img {
      width: auto;
      transition: none;

      position: absolute;

      &--first {
        height: 62.7rem;
        height: calc(100vw/(1920/627));

        top: -2.8rem;
        top: calc(-100vw/(1920/28));
        right: -1.5rem;
        right: calc(-100vw/(1920/15));
        z-index: 2;

        img {
          transform: rotate(16.41deg);
        }
      }

      &--second {
        height: 45rem;
        height: calc(100vw/(1920/450));

        right: 12.4rem;
        right: calc(100vw/(1920/124));
        bottom: 25rem;
        bottom: calc(100vw/(1920/250));
        z-index: 1;

        img {
          transform: rotate(70.79deg);
        }
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}