@use './../mixins' as *;

:root {
  --font-family: "RobotoCondensed", Arial, Verdana, sans-serif;
  --second-family: "Redoctober", Arial, Verdana, sans-serif;
  --third-family: "Roboto", Arial, Verdana, sans-serif;

  --container-padding: 5rem;
  --container-width: 182rem;
  --header-height: 17rem;
  --section-padding-top: 2.5rem;
  --section-padding-bottom: 2.5rem;
  --callback-width: 5.2rem;

  --white: #FAF4ED;
  --white-10: rgba(250, 244, 237, 0.1);
  --white-50: rgba(250, 244, 237, 0.5);

  --black: #17171A;
  --black-10: rgba(23, 23, 26, 0.1);
  --black-50: rgba(23, 23, 26, 0.5);

  --gray: #718595;
  
  --red: #DC143C;

  @include sm {
    --container-padding: 1.5rem;
    --header-height: 9.5rem;
    --section-padding-top: 1.5rem;
    --section-padding-bottom: 1.5rem;
  }

  @include sm {
    --container-padding: 1.5rem;
    --header-height: 9.5rem;
  }
}